<appSettings>
  <add key="MailServer" value="dev-smtp.videorentals.com"/>
  <add key="FacebookAppId" value="173339377263999"/>
  <add key="FacebookAppSecret" value="88c64ac0187e162bf931683664bcc368"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>